body{
    font-family: "Helvetica Neue", sans-serif;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
    margin-bottom: 0;
}
h3 {
    font-size: 15px;
    color:#D9594E;
    background: #FFF;
    display: inline-block;
    position: absolute;
    top: -7px;
    margin: 0;
    margin-left: -8%;
    padding: 0 10px;
}
.title {
    text-align: center;
    border-bottom: 1px solid #000;
    width: 100%;
    position: relative;
    margin: 30px 0;
}
h4 {
    font-size: 10px;
    color: #D9594E;
}
.category {
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
}
.keywords {
    font-size: 15px;
    font-style: normal;
}
.description {
    font-size: 15px;
    font-style:normal;
    max-width: 75%;
}
.info {
    font-size: 15px;
    text-align: center;
}
.subtitle{
    font-size: 20px;
    font-weight: 200;
    margin-top: 0;
}

header {
    text-align: center;
    background-color: #60A8B5;
    padding: 15px;
    color: white;
}
header p,
header img {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px; 
}
.home header {
    padding: 0;
    background: #FFF;
    color: #333;
    position: relative;
}
.home header img {
    padding: 0;
}
header a {
    color: #FFF;
    text-decoration: none;
}

.double img,
.home .double .container {
    display: inline-block;
    width: 49%;
}
.double div img {
    width: 100%;
}
.triple img {
    display: inline-block;
    width: 33%;
}

@media only screen and (max-width: 935px) {
    .triple img {
        width: 32%;
    }
}


section {
    max-width: 95%;
    margin: 0 auto;
}
section.single {
    max-width: 100%;
}
.kd {
    background: #F2F2F2;
    padding: 20px 0;
    
}
.single img, .double img, .triple img{
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.20);
}
.container {
  position: relative;
    width: 49%;
    display: inline-block;
}
.single .container {
    width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95%;
    width: 98%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(255, 255, 255, 0.9);
    border: 6px solid rgba(127, 203, 215, 0.9);
}
.overlay a {
    color: black;
    text-decoration: none;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.next {
    padding-top: 5%;
}

#port-background {
    position: absolute;
    z-index: 1;
    display: none;
}

.arch {
    z-index: 1;
    position: relative;
    margin-bottom: 40px;
}

#logo-info {
    text-align: center;
    font-size: 25px;
    position: absolute;
    z-index: 1;
    top: 40%;
    width: 100%;
}
#logo-info img {
    padding: 0;
    margin: 0 auto;
    max-width: 68px;
}
#logo-info p {
    margin: 0;
}
#logo-info p.name {
    font-size: 50px;
    line-height: 72px;
    border-bottom: 4px solid #D9594E;
}


#resume-btn {
    background: #FFF;
    border-top: 9px solid #D9594E;
    padding-bottom: 20px;
    text-align: center;
}
#resume-btn p {
    margin: 0;
    margin-top: -3px;
}
#resume-btn p span {
    background: #D9594E;
    display: inline-block;
    padding: 0 20px;
    color: #FFF;
}

.sidenav {
  width: 100%;
  z-index: 1;
  background-color: #FFF;
  overflow-x: hidden;
  transition: 0.5s;
    position: relative;
    display: none;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.sidenav a {
  padding: 0;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  bottom: 0;
  right: 0;
    width: 100%;
    text-align: center;
    border-top: 9px solid #D9594E;
}
.sidenav .closebtn span {
    background: #D9594E;
    display: inline-block;
    padding: 0 20px;
    color: #FFF;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
